.game-board-table-cell {
    display: inline-block;
    border: 1px solid #d0d0d0;

    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
    transition: background-color 0.3s;

    width: 100%;
    aspect-ratio: 1/1;

    &[alive="true"] {
        background-color: #607d8b;
    }

    &[clickable="false"] {
        cursor: not-allowed;
    }

    &:hover {
        background-color: #cfd8dc;
    }
}