.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  .form-section {
    display: flex;
    flex-direction: row;

    &:first-child {
      flex-grow: 1;
      width: 100%;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      width: 100%;

      .form-label {
        margin-bottom: 0.1em;
        font-size: 0.9em;
      }

      .form-control {
        margin-right: 1em;
      }
    }

    .btn {
      margin-left: 1em;
    }
  }
}
