/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  // Force the body to take all the visible area
  height: 100vh;
  display: flex;
  flex-direction: column;
}
